.nav {
          position: sticky;
          top: 0;
          background-color: rgb(211, 196, 196);
          height: 40px;
          display: flex;
          align-items: left;
          justify-content: flex-end;
          
}
.nav-link{
          margin-left: 20px;
          margin-right: 20px;
          text-decoration:none
}

.nav-link:hover{
          text-decoration:underline
}


.main{
          position: relative;
          
}